body {
  background-color: #1a1a1a;
  color: #fff;
}

.card {
  background-color: #2b2b2b;
  color: #fff;
  border: 1px solid #444;
}

.form-select,
.form-control {
  background-color: #333;
  color: #fff;
  border: 1px solid #666;
}

.form-select:focus,
.form-control:focus {
  border-color: #ffc107;
  box-shadow: none;
}

.card-img-top {
  height: 200px;
  /* você pode ajustar esse valor conforme preferir */
  object-fit: cover;
  border-bottom: 1px solid #444;
}

.text-purple {
  color: #6f42c1;
}

.perigo-card hr {
  border: none;
  border-top: 2px solid #dc3545;  /* Vermelho estilo Bootstrap */
  margin: 1rem 0;
}

.origem {
  color: red;
}
